# Unused anymore
freedoom_badass_edition.wad
freedoom_badass_mappack.wad
# Used
freedoom_badass_edition (wadinfo)
freedoom_badass_edition (mappack_wadinfo)
*.backup1
*.backup2
*.backup3
*.dbs
Build
screenshots